@page "/Information"
<h3>Информация</h3>
<p>Этот сайт работает с моделью ruGPT-3 от Sber https://sbercloud.ru/ru/warp/gpt-3 </p>
<p>Статья на habr: https://habr.com/ru/company/sberbank/blog/528966/ </p>
<br />
<p>Работа с сайтом разрешена только для лиц от 18 лет.</p>
<p>Сайт предназначен для развлекательных целей.</p>
<p>Мы не несём ответственность за выдаваемый Искуственным Интеллектом результат.</p>
<p>Не публикуйте сгенерированные тексты, если они нарушают законодательство РФ, возбуждают вражду или ненависть.</p>

@code {

}
