@page "/Information"
@*<h3>Информация</h3>*@
<div id="modalio">
<h3>Этот сайт работает с моделью ruGPT-3 от Sber</h3>
<h4><b>Ссылки:</b></h4>
<p> - ruGPT-3: <a href="https://sbercloud.ru/ru/warp/gpt-3">https://sbercloud.ru/ru/warp/gpt-3</a></p>
<p> - Статья на habr: <a href="https://habr.com/ru/company/sberbank/blog/528966/">https://habr.com/ru/company/sberbank/blog/528966/</a></p>
<br />
<h4><b>Отказ от ответственности:</b></h4>
<p> - Сайт предназначен для развлекательных целей.</p>
<p> - Мы не несём ответственность за выдаваемый Искуственным Интеллектом результат.</p>
<br />
<h4><b>Правила использования:</b></h4>
<p> - Работа с сайтом разрешена только для лиц от 18 лет.</p>
<p> - Не публикуйте сгенерированные тексты, если они нарушают законодательство РФ, возбуждают вражду или ненависть.</p>
</div>

@code {

}
