@page "/publications"

<h3>Публикации</h3>
@if (Waiting == true)
{
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@if (PostsList != null)
{
    @foreach (var v in PostsList.OrderBy(d => d.Date).Reverse())@*Сортировка по дате и реверс (новое сверху)*@
    {
        <div class="rounded text-light bg-dark p-3 m-3" style="white-space: pre-line">
            <h3 class="text-success">@v.Header</h3>
            <p>@v.Content</p>
            <p class="rounded text-info p-1 m-1">@v.Date.ToString("dd.MM.yyyy HH:mm") - Пользователь: @GetAuthor(v.UserId)@*<div class="text-success float-right">Рейтинг</div>*@</p>
        </div>
    }
}

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>