@page "/redirect"
@inject NavigationManager NavigationManager

<h3>Redirect</h3>

<iframe width="560" height="315" src="/Identity/Account/Login" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


@code {
    protected async override Task OnInitializedAsync()
    {
        //NavigationManager.NavigateTo("/Identity/Account/Login", false);
    }
}
