@page "/redirect"
@inject NavigationManager NavigationManager

<h3>Redirect</h3>



@code {
    protected async override Task OnInitializedAsync()
    {
        //NavigationManager.NavigateTo("/Identity/Account/Login", false);
    }
}
    n